{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Cria sua conta {% endblock %}
        
{% block content %}

<header class="relative min-h-screen showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat before:content-[''] before:absolute before:inset-0 before:bg-black before:opacity-25 before:grayscale before:bg-cover before:bg-center before:[background-image:url('{% static 'images/background.jpg' %}')]">
    
    <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">

        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
            <legend class="border-bottom mb-4">Crie uma conta para continuar</legend>
            {{ form|crispy }}
            </fieldset>
            <button class="bg-red-600 py-1 px-3 text-white w-full md:text-lg rounded-md" type="submit">Criar Conta</button>
        </form>

    </div>
     
</header> 

{% endblock %}
