{% extends 'base.html' %}
{% load static %}

{% block title %} Logout: Volte Logo! {% endblock %}
        
{% block content %}

<header class="relative min-h-screen showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat before:content-[''] before:absolute before:inset-0 before:bg-black before:opacity-25 before:grayscale before:bg-cover before:bg-center before:[background-image:url('{% static 'images/background.jpg' %}')]">
   
    <div class="relative z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
        <h2 class="text-2xl">Você saiu da sua conta</h2>
        <div class="flex flex-nowrap justify-center space-x-5 p-5">
        <a href="{% url 'streaming:login' %}"><button class="bg-red-600  py-1 px-3 text-white md:text-lg rounded-md">Fazer Login</button></a>
        <a href="{% url 'streaming:criarconta' %}"><button class="bg-red-600 py-1 px-3 text-white md:text-lg rounded-md">Criar uma Conta</button></a>
        </div>
    </div>
    
</header>

{% endblock %}
